.link--button-card {
    text-decoration: none !important;
    margin-bottom: 40px;
}
.label--button-card {
    height: 42px;
    width: 184px;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
